html, body {
    height: 100%;
    font-size: calc(1em + 1vw) !important;
}

body {
    padding-top: 4.6rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 1rem !important;
}

main {
    margin: auto;
    padding: 0rem !important;
    flex: 1 0 auto;
}

h2 {
    color: #595769 !important;
    text-transform: uppercase;
    font-size: 14px !important;
    letter-spacing: 1px;
    font-weight: 500;
}

h3 {
    color: #595769 !important;
    font-size: 1.4em !important;
    margin-bottom: 2.8rem !important;
    padding: 0 !important;
    letter-spacing: 0 !important;
    line-height: 2.2rem !important; 
}


h4 {
    font-size: 12px !important;
    margin-right: 20px !important;
    font-weight: 600;
    display: block;
    float: right;
}


/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.homebgr, .singlebgr {
    position: fixed;
    top: 8rem;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.8) !important;
    z-index: -1;
}

@media (max-width: 768px) {
    .homebgr, .singlebgr {
        transform: scale(1.8);
        width: auto !important;
        height: 100% !important;
    }

    .homebgr {
        top: 2.6rem;
    }

    .singlebgr {
        transform: scale(1.1) !important;
        width: 100% !important;
        top: 2.8rem;
    }
}

.intro {
    position: relative;
    margin: auto !important;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}

.intro > h1 {
    color: #fff;
    font-size: 1.8em;
    display: block;
    margin: 5rem 1rem 2rem 1rem;
}

.intro > h2 {
    color: #fff !important;
    font-size: 1em;
    text-transform: uppercase;
}


/*apply accent colour to links*/

a {
    padding: 0.0rem 20px !important;
}

a:link, a:visited {
    color: var(--accent);
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1em !important;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
    text-decoration: none !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 0px;
    margin: 5px;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/


.item a {
    color: #595769;
    letter-spacing: 1px;
    font-size: 12px;
}


.item a:hover {
    color: #CE173C !important;
}


kbd {
    box-shadow: none !important;
}

.item-container {
    padding-bottom: 0.4rem !important;
    display: block !important;
    float: right;
}

.item-tag {
    font-weight: 400;
    background: transparent;
    color: #595769 !important;
    font-family: 'Source Code Pro', monospace;
    border: none !important;
    letter-spacing: 1px;
}

.item-container kbd:hover {
    color: #FFC795 !important;
}

.au-list {
    list-style: none !important;
    padding: 0 0.4rem 0 0.4rem !important;
    margin: 0 4rem 2.6rem 4rem !important;
    line-height: 1.6rem;
    font-size: 0.7em;
    color: #595769;
    font-weight: 400 !important;
    font-family: 'Source Code Pro', monospace;
}

@media (max-width: 768px) {
    .au-list {
        margin: 0 2rem 2.6rem 2rem !important;
    }
}

.au-list a {
    text-decoration: none;
    color: red;
    padding: 0 !important;
    letter-spacing: 2px !important;
}

.au-list a:hover {
    color: #CE173C;
}

.au-list .fa-envelope-o {
    font-size: 80% !important;
    margin-left: 0.4rem !important;
}

.divider {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 1.6rem;
    height: 0.16rem;
    background: #CE173C;
    margin: 2.3rem auto !important;
}
/*logo svg*/

.logo-svg {
    width: 80px;
    background-color: transparent;
}

@media (min-width: 768px) {
  .logo-svg {
    height: auto;
  }
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/


img {
    width: 100% !important;
    height: 100% !important;
}

.imge {
    background: transparent;
    width: 100%;
    height: auto !important;
    margin: 0.2rem 0 2.4rem 0 !important;
    display: flex;
}

@media (max-width: 768px) {
    .imge {
        width: 86% !important;
        margin: 0.2rem auto 2.4rem auto !important;
    }
}

.imge a {
    padding: 0 !important;
}

.text-justify h2 {
    display: block;
    margin: 0 4rem 1rem 4rem !important;
    letter-spacing: 2px;
    text-transform: none;
}

.text-justify h3 {
    display: block;
    font-size: 1em !important;
    margin: 0 4rem 1rem 4rem !important; 
}

.aboutus h3 {
    display: block !important;
    font-size: 1.36em !important;
    margin: 0 auto 1rem auto !important;
    line-height: 1.3em !important;
}

@media (max-width: 768px) {
    .text-justify h2 {
        margin: 0 2rem 1rem 2rem !important;
    }

    .text-justify h3 {
        margin: 0 2rem 1rem 2rem !important;
    }
}

.text-justify p {
    margin: 1rem 2rem;
    color: #595769 !important;
}

.text-justify img {
    margin: 1rem 0 2.4rem 0 !important;
    width: 100% !important;
    height: 100% !important;
}

/*contact*/


.contactform {
    margin: 0rem !important;
    width: 100% !important;
}

.contactform ::placeholder {
    color: #9693A3 !important;
}

.contactform input, .contactform textarea {
    display: block !important;
    width: 325px !important;
    background: transparent !important;
    border: 1px solid #DBD9E5 !important;
    color: #43414C;
    font-family: Source Code Pro !important;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    margin: auto !important;
    padding: 6px 18px;
}

.contactform textarea {
    min-height: 8rem;
    font-family: Source Code Pro !important;
}

.contactform p {
    margin: 0.8rem 0.6rem;
}

.contactform button {
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border-radius: 4px;
    float: right !important;
    margin: 20px 0rem 160px 0rem;
    padding: 6px 18px;
    display: inline-block;
    border: 1px solid #595769;
    letter-spacing: 1px;
    min-width: 100px;
}

.contactform button:hover {
    background: #DBD9E5 !important;
    color: #43414C !important;
}


@media (max-width: 768px) {

 .contactform input, .contactform textarea {
    font-size: 0.7rem !important;
    width: 16rem !important;
  }
}

.mdimg {
    width: 90% !important;
    margin: auto;
}

@media (max-width: 1024px) {

 .mdimg {
    width: 100% !important;
  }
}

.works_tags {
    font-size: 0.8em;
    margin: 1rem 4rem 2rem 4rem;
    display: inline-block !important;
}

.works_tags a {

}

.works_tags ul {
    display: inline-block !important;
    margin: 0 auto;
    padding: 0 !important;
    line-height: 0.8rem !important;
}

.works_tags li {
    list-style: none !important;
    float: left !important;
}

.works_tags kbd {
    color: #F1A476 !important;
}

.works_tags kbd:hover {
    color: #FFC795!important;
}

@media (max-width: 768px) {
    .works_tags {
        margin: 0 2rem 2rem 2rem !important;
        float: left !important;
    }

    .works_tags ul {
        display: block !important;
    }

    .works_tags li {
    list-style: none !important;
    float: left !important;
    display: block;
    }
}

.text-justify {
    margin: 0 auto !important;
    display: inline-block !important;
}

footer {
    width: 100%;
    height: auto;
    background: #000;
}

.footer-container {
    margin: 1rem 4rem 3rem 4rem;
    padding: 1rem 0 3rem 0;
}

footer p {
    float: right !important;
    font-size: 0.4em;
    color: #595769;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .footer-container {
        margin: 1rem 2rem 2rem 2rem;
    }
}
