{{ partial "header" . }}

  <main>
    
      <section class="header header-contact header-thanks">
        <div class="header-content header-contact header-thanks">
            <h1>{{ .Title }}</h1>
            {{ with .Params.description }}
            <p>{{ . }}</p>
            {{ end }}
            <button class="header-cta-button header-cta-button-contact" data-scroll-target=".container-tag-list">Continue ↓</button>
        </div>
        <div class="header-illustration">
            {{ with .Params.header_image }}
            <img src="{{ . }}" alt="{{ $.Title }} header image" />
            {{ end }}
        </div>
    </section>
    {{ partial "tag-list-home" . }}
  </main>

<section class="cta-section cta-section-home cta-section-thanks">    
      <h2>
        What’s next?
      </h2>
      <div class="home-cta-buttons">
        <a class="home-button secondary" href="/works/">Explore Our Work →</a>
        <a class="home-button primary" href="/blog/">Read Our Articles →</a>
      </div> 
</section>

<div class="scroll-contact-form">
{{ partial "contact-form.html" . }}
</div>

{{ partial "featured-content.html" . }}

{{ partial "cta-contact" . }}

{{ partial "footer" . }}
