<section class="contact-form">
      <h2>{{ .Params.contactformtitle }}</h2>

      <div class="form-container">
        <form name="contact" method="POST" action="/thanks/" data-netlify="true" netlify-honeypot="bot-field">
          <input type="hidden" name="form-name" value="contact" />
          <p class="hidden"><label>Don’t fill this out: <input name="bot-field" /></label></p>
          <div class="form-group">
            <label for="name">Name <span class="required">*</span></label>
            <input type="text" id="name" name="name" required />
          </div>

          <div class="form-group">
            <label for="email">E-Mail <span class="required">*</span></label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="form-group">
            <label for="message">Text of your message <span class="required">*</span></label>
            <textarea id="message" name="message" rows="5" required></textarea>
          </div>

          <div class="form-submit">
            <button type="submit" class="btn-submit">Send</button>
          </div>
        </form>
      </div>
    </section>