<style>

    html body {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: #fff;
    }

</style>

<!-- main -->
{{ $mainCssPath := "css/main.css" }}
{{ if .IsHome }}
    {{ with readFile (printf "static/%s" $mainCssPath) }}
        <style id="inline-main-css">{{ . | safeCSS }}</style>
    {{ end }}
{{ else }}
    {{ $mainCss := $mainCssPath | absURL }}
    <link rel="stylesheet" href="{{ $mainCss }}">
{{ end }}

<!-- critical fonts -->
<link rel="preload" href="{{ "fonts/Satoshi-Variable.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{ "fonts/Satoshi-VariableItalic.ttf" | absURL }}" as="font" type="font/ttf" crossorigin>

<!-- custom -->
{{ range .Site.Params.css }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap">
<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
