<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicons/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicons/favicon-16x16.png" | relURL }}">
<link rel="icon" href="{{ "images/favicons/favicon.ico" | relURL }}">
<link rel="manifest" href="{{ "images/favicons/site.webmanifest" | relURL }}">
<meta name="msapplication-TileColor" content="#E2D0CF">
<meta name="theme-color" content="#ffffff">
