
    <div class="card20">
        <a href="{{ .Scratch.Get "link" }}" class="">
            {{ with .Params.preview_image }}
            <div class="card20-top">
                {{ partial "components/responsive-image.html" (dict
                  "src" .
                  "alt" $.Title
                  "width" 170
                  "sizes" "(max-width: 991px) 45vw, 170px"
                ) }}
            </div>
            {{ end }}
        </a>
            
        <div class="card20-text">
            {{ with index .Params.tags 0 }}
            <span class="card20-category">
                <a href="{{ "/topics/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            </span>
            {{ end }}

                {{ $link := $.Scratch.Get "link" }}
                <h3><a href="{{ $link }}">{{ .Title }}</a></h3>

                <div class="card20-meta">BY {{ .Params.Author }} {{ .Date.Format "02.01.2006" }}</div>
        </div>    
    </div>
