{{ $authorName := default "rausr" (or .Params.author .Params.Author) }}
{{ $authorPhoto := default "/images/authors-pic-jakub.jpg" (or .Params.author_image .Params.authorImage) }}

    <div class="card20">
        <a href="{{ .Scratch.Get "link" }}" class="">
            {{ with .Params.preview_image }}
            <div class="card20-top">
                {{ partial "components/responsive-image.html" (dict
                  "src" .
                  "alt" $.Title
                  "width" 170
                  "sizes" "(max-width: 991px) 45vw, 170px"
                ) }}
            </div>
            {{ end }}
        </a>
            
        <div class="card20-text">
            {{ with index .Params.tags 0 }}
            <span class="card20-category">
                <a href="{{ "/topics/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            </span>
            {{ end }}

                {{ $link := $.Scratch.Get "link" }}
                <h3><a href="{{ $link }}">{{ .Title }}</a></h3>

                <div class="card20-meta card20-meta--author">
                    <span class="card20-meta__date">{{ .Date.Format "02.01.2006" }}</span>
                    <span class="card20-meta__author">BY {{ $authorName }}</span>
                    {{ with $authorPhoto }}
                        <img class="card20-meta__photo" src="{{ . }}" alt="Portrait of {{ $authorName }}" loading="lazy" decoding="async">
                    {{ end }}
                </div>
        </div>    
    </div>
