{{ partial "header" . }}

<main>

  <!-- Toast Section -->
  <section class="cta-section cta-section-home">
    
        <h1>
            Oops<br /> burnt toast! 🍞
        </h1>
      <p>
        The page you’re looking for got overcooked or doesn’t exist. Let’s go back to the kitchen and start fresh.
      </p>
      <div class="home-cta-buttons">
        <a class="home-button primary" href="/">Back to Kitchen ←</a>
        <a class="home-button secondary" href="/contact">Talk to the Chef →</a>
      </div>
    
  </section>

</main>


{{ partial "featured-content.html" . }}

{{ partial "cta-contact" . }}

{{ partial "footer" . }}
