{{ partial "header" . }}

<main>


    <div class="row justify-content-md-center mb-4">

        <h1>¯\_(ツ)_/¯</h1>

    </div>

    <div class="row justify-content-md-center mb-4">
        
        <h2>Page not found</h2>

    </div>


<div class="pages d-flex justify-content-center">


<a class="icon pages-icon" href="/" rel="home">
<div class="pages-button justify-content-center">
<img src="/svg/home-icon.svg" width="50px" height="50px">
<span class="pages-icon-text">home</span>
</div>
</a>

<a class="icon pages-icon" href="/contact/" rel="contact">
<div class="pages-button justify-content-center">
<img src="/svg/contact-icon.svg" width="50px" height="50px">
<span class="pages-icon-text">contact</span>
</div>
</a>


</div>


</main>

{{ partial "footer" . }}
